﻿@model DubiStor.Models.PublicUserViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}



<link href="~/Content/aroma/css/Dashboard.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center pt-5 mb-5">
            <h3><span class="section-intro__style">Edit Profile</span></h3>

        </div>
    </div>
    <div class="row">
        <!--<div class="col-md-4">
            <div class="card  my-5">
                <div class="card-body">
                    <h4>Quicklinks</h4>
                    <hr />
                    <ul class="quicklinks">
                        <li>
                            <a href="/User/UserDashboard">
                                <img class="card-img" src="~/web-assets/images/station/menu.png" alt="">
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li class="active">
                            <a onclick="showProgress();" asp-action="EditDetail" asp-controller="UserProfile" asp-area="User" >
                                <img class="card-img" src="~/web-assets/images/station/user.png" alt="">
                                <p>Edit Profile</p>
                            </a>
                        </li>
                        <li>
                            <a onclick="showProgress();" asp-area="User" asp-action="Create" asp-controller="UserProduct">
                                <img class="card-img" src="~/web-assets/images/station/upload.png" alt="">
                                <p>New Upload</p>
                            </a>
                        </li>
                        <li>
                            <a onclick="showProgress();" asp-area="User" asp-action="Index" asp-controller="MyUpload">
                                <img class="card-img" src="~/web-assets/images/station/file.png" alt="">
                                <p>My Uploads</p>

                            </a>
                        </li>
                        <li>
                            <a onclick="showProgress();" asp-area="User" asp-action="Index" asp-controller="MyPurchase">
                                <img class="card-img" src="~/web-assets/images/station/shopping-bags.png" alt="">
                                <p>My Purchases</p>

                            </a>
                        </li>
                        <li>
                            <a onclick="showProgress();" asp-area="User" asp-action="Create" asp-controller="Membership">
                                <img class="card-img" src="~/web-assets/images/station/card.png" alt="">
                                <p>Membership</p>

                            </a>
                        </li>
                        <li>
                            <a onclick="showProgress();" asp-area="User" asp-action="Index" asp-controller="Events">
                                <img class="card-img" src="~/web-assets/images/station/event.png" alt="">
                                <p>Events</p>

                            </a>
                        </li>-->
                        @*@if (ViewData["ismember"].ToString() == "true")
                            {

                                <li>
                                    <a asp-area="User" asp-action="Index" asp-controller="MySales">
                                        <img class="card-img" src="~/web-assets/images/station/buying.png" alt="">
                                        <p>My Sales</p>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="User" asp-action="Index" asp-controller="Chat">
                                        <img class="card-img" src="~/web-assets/images/station/chat.png" alt="">
                                        <p>Messenger</p>
                                    </a>
                                </li>

                            }*@
                    <!--</ul>

                </div>
            </div>
        </div>-->
        <div class="col-8">
            <div class="ms_profile_wrapper my-5">

                <div class="ms_profile_box">

                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Edit Detail</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Change Password</a>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content" id="nav-tabContent">
                                <!-- Edit detail tab-->
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                    <form action="@Url.Action("EditDetail","Profile")" id="nav-home" enctype="multipart/form-data" method="post">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        @Html.HiddenFor(Model => Model.PubUserID)
                                        <br /><br />
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="ms_pro_img">
                                                    <img @*src="https://placehold.it/80x80"*@ alt="" id="preview" style='background-image: url(/Content/ApplicationFiles/ProfileImages/@Model.ProfilePicture);' class="customer-photo img-fluid"><br /><br />

                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="file" id="Attachments" name="Attachments" class="file  file-upload" accept="image/*">
                                                <span asp-validation-for="ProfilePicture" class="text-black"></span>
                                                <div class="input-group my-3">
                                                    <input type="text" class="form-control" disabled name="Attachments" placeholder="Upload File" id="Attachments">
                                                    <div class="input-group-append">
                                                        <button type="button" class=" ms_banner_btn btn-primary browse">Browse...</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ms_pro_form">
                                            <div class="form-group">
                                                <label class="text-primary">First Name *</label>
                                                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @placeholder = "Enter First Name" })
                                               @Html.ValidationMessageFor(x=>x.FirstName, "",new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <label class="text-primary">Last Name *</label>
                                                @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", @placeholder = "Enter Last Name" })
                                                @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <label class="text-primary">Phone </label>
                                                @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", @placeholder = "Enter First Name" })
                                                @Html.ValidationMessageFor(x => x.Phone, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <label class="text-primary">Address </label>
                                                @Html.TextBoxFor(x => x.Address, new { @class = "form-control", @placeholder = "Enter First Name" })
                                                @Html.ValidationMessageFor(x => x.Address, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <label class="text-primary">Gender </label>
                                                @Html.RadioButtonFor(model => model.Gender, "Male")
                                                <label for="f-option6">Male </label>
                                                @Html.RadioButtonFor(model => model.Gender, "Female")
                                                <label for="f-option6">Female </label>
                                            </div>

                                            <div class="form-group">
                                                <div>
                                                    <label class="text-primary">Select Preferences </label>
                                                   
                                                        @if (Model.Preference != null)
                                                        {
                                                            for (int i=0;i<Model.Preference.Count;i++)
                                                            {
                                                                @Html.HiddenFor(m => Model.Preference[i].Value);
                                                                @Html.DisplayTextFor(m => Model.Preference[i].Text);
                                                                @Html.CheckBoxFor(m => Model.Preference[i].Selected);
                                                        
                                                            }
                                                        }
                                                 
                                                </div>
                                            </div>
                                            <div class="form-group mt-5 text-center">
                                                <button onclick="showProgress();" type="submit" class="button button-hero" style="text-align:center;" href="/User/Library">Save</button>
                                                <button type="button" class="button button-register" onclick="window.location='/User/Dashboard'">Back</button>
                                            </div>
                                        </div> 
                                    </form>
                                </div>

                                <!--Change Password tab-->
                                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                    <form action="@Url.Action("ChangePassword","Profile")"  id="nav-profile" method="post">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="ms_pro_img">
                                        </div>
                                        @Html.HiddenFor(Model => Model.PubUserID)
                                        <div class="ms_pro_form">
                                            <div class="form-group">
                                                <label class="text-primary">Your Email : </label>
                                                <span class="text-black">@Model.Email</span>
                                            </div>
                                          
                                            <div class="form-group">
                                                <label class="text-primary">New Password *</label>
                                                <input type="password" name="Password" placeholder="Enter your new password" class="form-control">
                                                @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })

                                            </div>
                                            <div class="form-group">
                                                <label class="text-primary">Confirm Password *</label>
                                                <input type="password" name="ConfirmPassword" placeholder="Enter confirm password" class="form-control">
                                                @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })

                                            </div>
                                            <div class="form-group mt-5 text-center">
                                                <button onclick="showProgress();" type="submit" class="button button-hero" style="text-align:center;">Save</button>
                                                <button type="button" onclick="window.location='/User/UserDashboard'" class="button button-register">Back</button>


                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@{
    @*@Html.Hidden("msg", Html.TempData["Msg"].ToString() != null ? Html.TempData["Msg"].ToString().ToLower() : "");*@
}
@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#mySkills').multiselect({
                includeSelectAllOption: true
            });  
        });
        $(document).on("click", ".browse", function () {
            var file = $(this).parents().find(".file");
            file.trigger("click");
        });
        $('input[type="file"]').change(function (e) {
            var fileName = e.target.files[0].name;
            $("#file").val(fileName);

            var reader = new FileReader();
            reader.onload = function (e) {
                // get loaded data and render thumbnail.
                document.getElementById("preview").src = e.target.result;
            };
            // read the image file as a data URL.
            reader.readAsDataURL(this.files[0]);
        });
    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="@Url.Content("~/Scripts/passwordStrengthMeter.js")"></script>
    <script src="@Url.Content("~/Scripts/ChangePassword.js")"></script>
}























































