﻿@model DubiStor.Models.PublicUserViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="@Url.Action("Login","UserLogin")" method="post">

    <!-- Modal content-->
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal">
            <i class="fa_icon form_close"></i>
        </button>
        <div class="modal-body">
            <section class="login_box_area section-margin">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="login_box_img">
                                <div class="hover">
                                    <h4>Login</h4>
                                    <p>please login with your account.</p>
                                    <a class="button button-account" onclick="showProgress();" href="@Url.Action("Register","UserLogin")">Create an Account</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="login_form_inner register_form_inner">
                                <h3>login / Sign in</h3>
                                <div asp-validation-summary="ModelOnly" class="form-group text-white"></div>
                                <div class="row login_form p-2" id="register_form">
                                    <div class="col-md-12 form-group">
                                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Enter Email" });
                                        <span asp-validation-for="Email" class="text-warning"></span>

                                    </div>
                                    <div class="col-md-12 form-group">
                                        @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Enter Password" })
                                        <span asp-validation-for="Password" class="text-warning"></span>
                                    </div>
                                    @if (TempData["Msg"] != null)
                                    {
                                    <div class="col-md-12 form-group text-center text-danger">
                                       @TempData["Msg"]
                                    </div>
                                    }
                                    <div class="col-md-12 form-group">
                                        <button type="submit" value="submit" class="button button-register w-100">Login</button>
                                    </div>

                                    <div class="col-md-12 form-group">
                                        <a href="@Url.Action("FaceBook","UserLogin")" onclick="checkLoginState();"> <i class="fa fa-facebook-square" aria-hidden="true"></i> continue with facebook</a>
                                        <a onclick="showProgress();" href="@Url.Action("Google","UserLogin")"><i class="fa fa-google-plus-square" aria-hidden="true"></i> continue with google </a>
                                    </div>
                                    <div class="popup_forgot">
                                        <a href="@Url.Action("ForgetPassword","UserLogin")" onclick="showProgress();">Forget Password ?</a>
                                    </div>
                                    <p>Don't Have An Account? <a href="@Url.Action("Register","UserLogin")" onclick="showProgress();" class="ms_modal1 hideCurrentModel">register here</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</form>



