﻿@model DubiStor.Models.PublicUserViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Create" asp-controller="PublicUser" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <!-- Modal content-->
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal">
            <i class="fa_icon form_close"></i>
        </button>
        <div class="modal-body">
            <section class="login_box_area section-margin">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="login_box_img">
                                <div class="hover">
                                    <h4>Registeration</h4>
                                    <p>To Use this App please Complete Registeration Process.</p>
                                    <a onclick="showProgress();" class="button button-account" href="@Url.Action("Login","UserLogin")">Login</a>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="login_form_inner register_form_inner">
                                <h3>Create an account</h3>
                                <form class="row login_form" action=@Url.Action("Register","UserLogin") method="post" id="register_form">
                                    <div class="col-md-12 form-group">
                                        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @placeholder = "Enter First Name" })
                                        <span asp-validation-for="FirstName" class="text-warning"></span>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", @placeholder = "Enter Last Name" })
                                        <span asp-validation-for="LastName" class="text-warning"></span>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Enter Email" })
                                        <span asp-validation-for="Email" class="text-warning"></span>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", @placeholder = "Enter Phone" })
                                        <span asp-validation-for="Phone" class="text-warning"></span>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        @Html.TextBoxFor(x => x.Address, new { @class = "form-control", @placeholder = "Enter Address" })
                                        <span asp-validation-for="Address" class="text-warning"></span>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Enter Password" })
                                        <span asp-validation-for="Password" class="text-warning"></span>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", @placeholder = "Enter Password" })
                                        <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
                                    </div>

                                    <div class="col-md-12 form-group mt-5">
                                        @Html.RadioButtonFor(model => model.Gender, "Male")
                                        <label for="f-option6">Male </label>
                                        @Html.RadioButtonFor(model => model.Gender, "Female")
                                        <label for="f-option6">Female </label>
                                    </div>
                                    @if (TempData["Msg"] != null)
                                    {
                                        <div class="col-md-12 form-group text-center text-danger">
                                            @TempData["Msg"]
                                        </div>
                                    }
                                    <div class="col-md-12 form-group">
                                        <div class="creat_account">
                                            <input type="checkbox" id="f-option2" name="selector">
                                            <label for="f-option2">Keep me logged in</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <button type="submit" value="submit" class="button button-register w-100">Register</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</form>



