﻿@model DubiStor.Models.PublicUserViewModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="ResetNewPassword" asp-controller="UserLogin" method="post">

    <!-- Modal content-->
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal">
            <i class="fa_icon form_close"></i>
        </button>
        <div class="modal-body">
            <section class="login_box_area section-margin">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="login_box_img">
                                <div class="hover">
                                    <h4>Login</h4>
                                    <p>please login with your account.</p>
                                    <a class="button button-account" onclick="showProgress();" href="@Url.Action("Login","UserLogin")">Login</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="login_form_inner register_form_inner">
                                <h3>Reset Password</h3>
                                <input type="hidden" value="@TempData["email"]" name="Email" id="Email">
                                <div asp-validation-summary="ModelOnly" class="form-group text-white"></div>
                                <div class="row login_form p-2" id="register_form">
                                    <div class="col-md-12 form-group">
                                        @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Enter Password" })
                                        <span asp-validation-for="Password" class="text-warning"></span>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", @placeholder = "Enter Password" })
                                        <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <button type="submit" value="submit" class="button button-register w-100">Submit</button>
                                    </div>



                                    <p>Don't Have An Account? <a href="@Url.Action("Register","UserLogin")" onclick="showProgress();" class="ms_modal1 hideCurrentModel">register here</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</form>



