﻿
@{
    ViewBag.Title = "Verified";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Email Verfication</title>
</head>
<body>


    <div class="row">
        <div class="col-12 offset-5">
            <div class="ms_profile_wrapper">
                <h2 class="row mt-5 mb-5 text-center"><span class="section-intro__style">Account Information</span></h2>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-12 ">
            <h4 class="mt-5 mb-5 text-center"><span class="">Your Email is Successfully Verified.</span></h4>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="">
            <a asp-action="Index" asp-controller="Home" class="button button-login">
                <i class="fa fa-sign-in"></i> Home
            </a>
        </div>

    </div><br />
    @section scripts{
        <script type="text/javascript" src="~/assets/scripts/main.07a59de7b920cd76b874.js"></script>

    }
</body>
</html>

