﻿<!doctype html>
<html lang="en">
<!-- Mirrored from demo.dashboardpack.com/kero-html-sidebar-pro/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 07 Aug 2020 06:06:56 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- Added by HTTrack -->
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
    <title>Analytics - This is an example dashboard created using build-in elements and components.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <link rel="icon" href="~/Content/assets/images/favicon.ico" />
    <link rel="icon" href="~/Content/assets/images/icons.gif" />
    <link rel="logo" href="~/Content/assets/images/logo-inverse.png" />
    <link rel="logo" href="~/Content/assets/images/logo.png" />
    <link rel="icon" href="~/Content/assets/fonts/ionicons.svg" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <link rel="icon" href="~/Content/assets/fonts/ionicons.svg" />
    <link href="~/Content/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/datatables/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/assets/css/Main.css" rel="stylesheet">
    <link href="~/Content/Sweetalert Scripts/Scripts/sweetalert.css" rel="stylesheet">
    

    
    @RenderSection("style", required: false)

</head>
<body>
    <div class="app-container app-theme-gray app-sidebar-full">
        <div class="app-main">
            <!--Left Side Bar-->
            <div class="app-sidebar-wrapper">
                <div class="app-sidebar sidebar-shadow">
                    <div class="app-header__logo">
                        <a asp-action="Index" asp-area="Admin" asp-controller="DashBoard" data-toggle="tooltip" data-placement="bottom" title="Nota Music Player"><h4>Nota</h4></a>
                        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                    <div class="scrollbar-sidebar scrollbar-container">
                        <div class="app-sidebar__inner">
                            <ul class="vertical-nav-menu" id="vertical-nav-menu">

                                <li>
                                    <a href="javascript:void(0)"><i class="fas fa-clipboard-list"></i>&nbsp;&nbsp;Master Form</a>

                                    <ul>

                                        <li>

                                            <a href="@Url.Action("Index","Preference")">Preference</a>
                                            <a href="@Url.Action("Index","Members")">User</a>
                                            <a href="@Url.Action("Index","Members")">Notifications</a>
                                            <a href="@Url.Action("Index","Members")">Manage Post</a>
                                            <a href="@Url.Action("Index","Members")">Approve and Publish</a>
                                        </li>

                                    </ul>

                                </li>


                                <li>
                                    <a href="javascript:void(0)"><i class="fas fa-clipboard-list"></i> &nbsp;&nbsp;Chat </a>

                                    <ul>

                                        <li>

                                            <a href="/Admin/Chat/Index">Open</a>



                                        </li>

                                    </ul>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-sidebar-overlay d-none animated fadeIn"></div>
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-header">
                        <partial name="~/Areas/Admin/Views/Shared/_header.cshtml" />
                    </div>
                    <div class="app-inner-layout app-inner-layout-page">
                        <!--inner Sidebar-->
                        <div class="app-inner-layout__wrapper">
                            <div class="app-inner-layout__content">
                                <div class="tab-content">
                                    <div class="container-fluid">
                                        <div class="mb-3 card">
                                            @RenderBody()
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Footer-->
                <div class="app-wrapper-footer">
                    <div class="app-footer">
                        <div class="">
                            <div class="app-footer__inner">
                                <div class="app-footer-left">
                                    @*<div class="footer-dots">
                                            <div class="dropdown">
                                                <a aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" class="dot-btn-wrapper">
                                                    <i class="dot-btn-icon typcn typcn-warning-outline text-warning"></i>
                                                    <div class="badge badge-dot badge-abs badge-dot-sm badge-danger">Danger</div>
                                                </a>
                                                <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu-xl rm-pointers dropdown-menu">
                                                    <div class="dropdown-menu-header mb-0">
                                                        <div class="dropdown-menu-header-inner bg-deep-blue">
                                                        </div>
                                                    </div>
                                                    <ul class="tabs-animated-shadow tabs-animated nav nav-justified tabs-shadow-bordered p-3">
                                                        <li class="nav-item">
                                                            <a role="tab" class="nav-link active" data-toggle="tab" href="#tab-messages-header1">
                                                                <span>Messages</span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a role="tab" class="nav-link" data-toggle="tab" href="#tab-events-header1">
                                                                <span>Events</span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a role="tab" class="nav-link" data-toggle="tab" href="#tab-errors-header1">
                                                                <span>System</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="tab-messages-header1" role="tabpanel">
                                                            <div class="scroll-area-sm">
                                                                <div class="scrollbar-container">
                                                                    <div class="p-3">
                                                                        <div class="notifications-box">
                                                                            <div class="vertical-time-simple vertical-without-time vertical-timeline vertical-timeline--one-column">
                                                                                <div class="vertical-timeline-item dot-danger vertical-timeline-element">
                                                                                    <div>
                                                                                        <span class="vertical-timeline-element-icon bounce-in"></span>
                                                                                        <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">All Hands Meeting</h4><span class="vertical-timeline-element-date"></span></div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="vertical-timeline-item dot-warning vertical-timeline-element">
                                                                                    <div>
                                                                                        <span class="vertical-timeline-element-icon bounce-in"></span>
                                                                                        <div class="vertical-timeline-element-content bounce-in">
                                                                                            <p>Yet another one, at <span class="text-success">15:00 PM</span></p><span class="vertical-timeline-element-date"></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="vertical-timeline-item dot-success vertical-timeline-element">
                                                                                    <div>
                                                                                        <span class="vertical-timeline-element-icon bounce-in"></span>
                                                                                        <div class="vertical-timeline-element-content bounce-in">
                                                                                            <h4 class="timeline-title">
                                                                                                Build the production release
                                                                                                <span class="badge badge-danger ml-2">NEW</span>
                                                                                            </h4>
                                                                                            <span class="vertical-timeline-element-date"></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="vertical-timeline-item dot-primary vertical-timeline-element">
                                                                                    <div>
                                                                                        <span class="vertical-timeline-element-icon bounce-in"></span>
                                                                                        <div class="vertical-timeline-element-content bounce-in">
                                                                                            <h4 class="timeline-title">Something not important</h4>
                                                                                            <div class="avatar-wrapper mt-2 avatar-wrapper-overlap">
                                                                                                <div class="avatar-icon-wrapper avatar-icon-sm">
                                                                                                    <div class="avatar-icon">
                                                                                                        <img src="~/assets/images/avatars/1.jpg"
                                                                                                             alt="">
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="avatar-icon-wrapper avatar-icon-sm">
                                                                                                    <div class="avatar-icon">
                                                                                                        <img src="~/assets/images/avatars/2.jpg"
                                                                                                             alt="">
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="avatar-icon-wrapper avatar-icon-sm">
                                                                                                    <div class="avatar-icon">
                                                                                                        <img src="~/assets/images/avatars/3.jpg"
                                                                                                             alt="">
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="avatar-icon-wrapper avatar-icon-sm">
                                                                                                    <div class="avatar-icon">
                                                                                                        <img src="~/assets/images/avatars/4.jpg"
                                                                                                             alt="">
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="avatar-icon-wrapper avatar-icon-sm">
                                                                                                    <div class="avatar-icon">
                                                                                                        <img src="~/assets/images/avatars/5.jpg"
                                                                                                             alt="">
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="avatar-icon-wrapper avatar-icon-sm">
                                                                                                    <div class="avatar-icon">
                                                                                                        <img src="~/assets/images/avatars/9.jpg"
                                                                                                             alt="">
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="avatar-icon-wrapper avatar-icon-sm">
                                                                                                    <div class="avatar-icon">
                                                                                                        <img src="~/assets/images/avatars/7.jpg"
                                                                                                             alt="">
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="avatar-icon-wrapper avatar-icon-sm">
                                                                                                    <div class="avatar-icon">
                                                                                                        <img src="~/assets/images/avatars/8.jpg"
                                                                                                             alt="">
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="avatar-icon-wrapper avatar-icon-sm avatar-icon-add">
                                                                                                    <div class="avatar-icon"><i>+</i></div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <span class="vertical-timeline-element-date"></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="vertical-timeline-item dot-info vertical-timeline-element">
                                                                                    <div>
                                                                                        <span class="vertical-timeline-element-icon bounce-in"></span>
                                                                                        <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">This dot has an info state</h4><span class="vertical-timeline-element-date"></span></div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="vertical-timeline-item dot-danger vertical-timeline-element">
                                                                                    <div>
                                                                                        <span class="vertical-timeline-element-icon bounce-in"></span>
                                                                                        <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">All Hands Meeting</h4><span class="vertical-timeline-element-date"></span></div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="vertical-timeline-item dot-warning vertical-timeline-element">
                                                                                    <div>
                                                                                        <span class="vertical-timeline-element-icon bounce-in"></span>
                                                                                        <div class="vertical-timeline-element-content bounce-in">
                                                                                            <p>Yet another one, at <span class="text-success">15:00 PM</span></p><span class="vertical-timeline-element-date"></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="vertical-timeline-item dot-success vertical-timeline-element">
                                                                                    <div>
                                                                                        <span class="vertical-timeline-element-icon bounce-in"></span>
                                                                                        <div class="vertical-timeline-element-content bounce-in">
                                                                                            <h4 class="timeline-title">
                                                                                                Build the production release
                                                                                                <span class="badge badge-danger ml-2">NEW</span>
                                                                                            </h4>
                                                                                            <span class="vertical-timeline-element-date"></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="vertical-timeline-item dot-dark vertical-timeline-element">
                                                                                    <div>
                                                                                        <span class="vertical-timeline-element-icon bounce-in"></span>
                                                                                        <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">This dot has a dark state</h4><span class="vertical-timeline-element-date"></span></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane" id="tab-events-header1" role="tabpanel">
                                                            <div class="scroll-area-sm">
                                                                <div class="scrollbar-container">
                                                                    <div class="p-3">
                                                                        <div class="vertical-without-time vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                                                                            <div class="vertical-timeline-item vertical-timeline-element">
                                                                                <div>
                                                                                    <span class="vertical-timeline-element-icon bounce-in"><i class="badge badge-dot badge-dot-xl badge-success"> </i></span>
                                                                                    <div class="vertical-timeline-element-content bounce-in">
                                                                                        <h4 class="timeline-title">All Hands Meeting</h4>
                                                                                        <p>Lorem ipsum dolor sic amet, today at <a href="javascript:void(0);">12:00 PM</a></p><span class="vertical-timeline-element-date"></span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="vertical-timeline-item vertical-timeline-element">
                                                                                <div>
                                                                                    <span class="vertical-timeline-element-icon bounce-in"><i class="badge badge-dot badge-dot-xl badge-warning"> </i></span>
                                                                                    <div class="vertical-timeline-element-content bounce-in">
                                                                                        <p>Another meeting today, at <b class="text-danger">12:00 PM</b></p>
                                                                                        <p>Yet another one, at <span class="text-success">15:00 PM</span></p><span class="vertical-timeline-element-date"></span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="vertical-timeline-item vertical-timeline-element">
                                                                                <div>
                                                                                    <span class="vertical-timeline-element-icon bounce-in"><i class="badge badge-dot badge-dot-xl badge-danger"> </i></span>
                                                                                    <div class="vertical-timeline-element-content bounce-in">
                                                                                        <h4 class="timeline-title">Build the production release</h4>
                                                                                        <p>Lorem ipsum dolor sit amit,consectetur eiusmdd tempor incididunt ut labore et dolore magna elit enim at minim veniam quis nostrud</p><span class="vertical-timeline-element-date"></span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="vertical-timeline-item vertical-timeline-element">
                                                                                <div>
                                                                                    <span class="vertical-timeline-element-icon bounce-in"><i class="badge badge-dot badge-dot-xl badge-primary"> </i></span>
                                                                                    <div class="vertical-timeline-element-content bounce-in">
                                                                                        <h4 class="timeline-title text-success">Something not important</h4>
                                                                                        <p>Lorem ipsum dolor sit amit,consectetur elit enim at minim veniam quis nostrud</p><span class="vertical-timeline-element-date"></span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="vertical-timeline-item vertical-timeline-element">
                                                                                <div>
                                                                                    <span class="vertical-timeline-element-icon bounce-in"><i class="badge badge-dot badge-dot-xl badge-success"> </i></span>
                                                                                    <div class="vertical-timeline-element-content bounce-in">
                                                                                        <h4 class="timeline-title">All Hands Meeting</h4>
                                                                                        <p>Lorem ipsum dolor sic amet, today at <a href="javascript:void(0);">12:00 PM</a></p><span class="vertical-timeline-element-date"></span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="vertical-timeline-item vertical-timeline-element">
                                                                                <div>
                                                                                    <span class="vertical-timeline-element-icon bounce-in"><i class="badge badge-dot badge-dot-xl badge-warning"> </i></span>
                                                                                    <div class="vertical-timeline-element-content bounce-in">
                                                                                        <p>Another meeting today, at <b class="text-danger">12:00 PM</b></p>
                                                                                        <p>Yet another one, at <span class="text-success">15:00 PM</span></p><span class="vertical-timeline-element-date"></span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="vertical-timeline-item vertical-timeline-element">
                                                                                <div>
                                                                                    <span class="vertical-timeline-element-icon bounce-in"><i class="badge badge-dot badge-dot-xl badge-danger"> </i></span>
                                                                                    <div class="vertical-timeline-element-content bounce-in">
                                                                                        <h4 class="timeline-title">Build the production release</h4>
                                                                                        <p>Lorem ipsum dolor sit amit,consectetur eiusmdd tempor incididunt ut labore et dolore magna elit enim at minim veniam quis nostrud</p><span class="vertical-timeline-element-date"></span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="vertical-timeline-item vertical-timeline-element">
                                                                                <div>
                                                                                    <span class="vertical-timeline-element-icon bounce-in"><i class="badge badge-dot badge-dot-xl badge-primary"> </i></span>
                                                                                    <div class="vertical-timeline-element-content bounce-in">
                                                                                        <h4 class="timeline-title text-success">Something not important</h4>
                                                                                        <p>Lorem ipsum dolor sit amit,consectetur elit enim at minim veniam quis nostrud</p><span class="vertical-timeline-element-date"></span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane" id="tab-errors-header1" role="tabpanel">
                                                            <div class="scroll-area-sm">
                                                                <div class="scrollbar-container">
                                                                    <div class="no-results pt-3 pb-0">
                                                                        <div class="swal2-icon swal2-success swal2-animate-success-icon">
                                                                            <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
                                                                            <span class="swal2-success-line-tip"></span>
                                                                            <span class="swal2-success-line-long"></span>
                                                                            <div class="swal2-success-ring"></div>
                                                                            <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                                                                            <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
                                                                        </div>
                                                                        <div class="results-subtitle">All caught up!</div>
                                                                        <div class="results-title">There are no system errors!</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <ul class="nav flex-column">
                                                        <li class="nav-item-divider nav-item"></li>
                                                        <li class="nav-item-btn text-center nav-item">
                                                            <button class="btn-shadow btn-wide btn-pill btn btn-focus btn-sm">View Latest Changes</button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="dots-separator"></div>
                                            <div class="dropdown">
                                                <a class="dot-btn-wrapper dd-chart-btn-2" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                                                    <i class="dot-btn-icon typcn typcn-chart-bar-outline text-danger"></i>
                                                    <div class="badge badge-dot badge-abs badge-dot-sm badge-warning">Warning</div>
                                                </a>
                                                <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu-xl rm-pointers dropdown-menu">
                                                    <div class="dropdown-menu-header">
                                                        <div class="dropdown-menu-header-inner bg-premium-dark">
                                                            <div class="menu-header-image" style="background-image: url('~/assets/images/dropdown-header/abstract4.jpg');"></div>
                                                            <div class="menu-header-content text-white">
                                                                <h5 class="menu-header-title">
                                                                    Users Online
                                                                </h5>
                                                                <h6 class="menu-header-subtitle">
                                                                    Recent Account Activity Overview
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="widget-chart">
                                                        <div class="widget-chart-content">
                                                            <div class="icon-wrapper rounded-circle">
                                                                <div class="icon-wrapper-bg opacity-9 bg-focus">
                                                                </div>
                                                                <i class="lnr-users text-white">
                                                                </i>
                                                            </div>
                                                            <div class="widget-numbers">
                                                                <span>344k</span>
                                                            </div>
                                                            <div class="widget-subheading pt-2">
                                                                Profile views since last login
                                                            </div>
                                                            <div class="widget-description text-danger">
                                                                <span class="pr-1">
                                                                    <span>176%</span>
                                                                </span>
                                                                <i class="fa fa-arrow-left"></i>
                                                            </div>
                                                        </div>
                                                        <div class="widget-chart-wrapper">
                                                            <div id="dashboard-sparkline-carousel-4-pop"></div>
                                                        </div>
                                                    </div>
                                                    <ul class="nav flex-column">
                                                        <li class="nav-item-divider mt-0 nav-item">
                                                        </li>
                                                        <li class="nav-item-btn text-center nav-item">
                                                            <button class="btn-shine btn-wide btn-pill btn btn-warning btn-sm">
                                                                <i class="fa fa-cog fa-spin mr-2">
                                                                </i>
                                                                View Details
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>*@
                                </div>
                                <div class="app-footer-right">
                                    @*<ul class="header-megamenu nav">
                                            <li class="nav-item">
                                                <a data-placement="top" href="" rel="popover-focus" data-offset="300" data-toggle="popover-custom" class="nav-link">
                                                    Footer Menu
                                                    <div class="badge badge-success ml-0 ml-1">
                                                        <small>Old</small>
                                                    </div>
                                                    <i class="fa fa-angle-up ml-2 opacity-8"></i>
                                                </a>
                                                <div class="rm-max-width rm-pointers">
                                                    <div class="d-none popover-custom-content">
                                                        <div class="dropdown-mega-menu dropdown-mega-menu-sm">
                                                            <div class="grid-menu grid-menu-2col">
                                                                <div class="no-gutters row">
                                                                    <div class="col-sm-6 col-xl-6">
                                                                        <ul class="nav flex-column">
                                                                            <li class="nav-item-header nav-item">Overview</li>
                                                                            <li class="nav-item"><a href="javascript:void(0);" class="nav-link"><i class="nav-link-icon lnr-inbox"> </i><span>Contacts</span></a></li>
                                                                            <li class="nav-item">
                                                                                <a href="javascript:void(0);" class="nav-link">
                                                                                    <i class="nav-link-icon lnr-book"> </i><span>Incidents</span>
                                                                                    <div class="ml-auto badge badge-pill badge-danger">5</div>
                                                                                </a>
                                                                            </li>
                                                                            <li class="nav-item"><a href="javascript:void(0);" class="nav-link"><i class="nav-link-icon lnr-picture"> </i><span>Companies</span></a></li>
                                                                            <li class="nav-item"><a disabled="" href="javascript:void(0);" class="nav-link disabled"><i class="nav-link-icon lnr-file-empty"> </i><span>Dashboards</span></a></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="col-sm-6 col-xl-6">
                                                                        <ul class="nav flex-column">
                                                                            <li class="nav-item-header nav-item">Sales &amp; Marketing</li>
                                                                            <li class="nav-item"><a href="javascript:void(0);" class="nav-link">Queues</a></li>
                                                                            <li class="nav-item"><a href="javascript:void(0);" class="nav-link">Resource Groups</a></li>
                                                                            <li class="nav-item">
                                                                                <a href="javascript:void(0);" class="nav-link">
                                                                                    Goal Metrics
                                                                                    <div class="ml-auto badge badge-warning">3</div>
                                                                                </a>
                                                                            </li>
                                                                            <li class="nav-item"><a href="javascript:void(0);" class="nav-link">Campaigns</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
   
    @Scripts.Render("~/Js")
    @RenderSection("scripts", required: false)

</body>
<!-- Mirrored from demo.dashboardpack.com/kero-html-sidebar-pro/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 07 Aug 2020 06:07:38 GMT -->
</html>
