﻿@using DubiStor.UserHelper
@{
    ViewData["Title"] = "Welcome To DubiStore";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<link href="~/aroma/css/Dashboard.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center pt-5 mb-5">
            <h3 class="msgwelcome">Welcome back <span>@CurrentPublicSession.FirstName</span></h3>
            <div class="text-center">
                <p>Your profile is <span class="percent"></span></p>
                @*<progress id="progress-bar" min="1" max="100" value="0"></progress>
                    <span class="first border-change"></span>
                    <span class="second span1"></span>
                    <span class="third span1"></span>
                    <span class="fourth span1"></span>
                    <p class="percent par">0% Complete</p>*@
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-2">
                <div class="card-body">
                    <h4>Account Details</h4>
                    <hr />


                </div>
            </div>

        </div>
        <div class="col-md-8 pb-5">
            <input type="hidden" id="profilescore" value="">
            <div class="row">

                <div class="col-md-6 col-lg-4">
                    <div class="card text-center card-product">
                        <div class="card-product__img">
                            <a onclick="showProgress();" href="@Url.Action("Edit","Profile",new { id=CurrentPublicSession.PubUserID})">
                                <img class="card-img" src="~/Content/web-assets/images/station/user.png" alt="">

                            </a>
                        </div>
                        <div class="card-body">
                            <h4>Edit Profile</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card text-center card-product">
                        <div class="card-product__img">
                            <a onclick="showProgress();" href="@Url.Action("Edit","Profile")">
                                <img class="card-img" src="~/Content/web-assets/images/station/upload.png" alt="">

                            </a>
                        </div>
                        <div class="card-body">
                            <h4>New Upload</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card text-center card-product">
                        <div class="card-product__img">
                            <a onclick="showProgress();" href="@Url.Action("Edit","Profile",new { id=CurrentPublicSession.PubUserID})">
                                <img class="card-img" src="~/Content/web-assets/images/station/file.png" alt="">

                            </a>
                        </div>
                        <div class="card-body">
                            <h4>My Uploads</h4>
                        </div>
                    </div>
                </div>
                @*<div class="col-md-6 col-lg-4">
                        <div class="card text-center card-product">
                            <div class="card-product__img">
                                <a onclick="showProgress();" asp-area="User" asp-action="Index" asp-controller="MyPurchase">
                                    <img class="card-img" src="~/Content/web-assets/images/station/shopping-bags.png" alt="">

                                </a>
                            </div>
                            <div class="card-body">
                                <h4>My Purchases</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card text-center card-product">
                            <div class="card-product__img">
                                <a onclick="showProgress();" asp-area="User" asp-action="Create" asp-controller="Membership">
                                    <img class="card-img" src="~/Content/web-assets/images/station/card.png" alt="">

                                </a>
                            </div>
                            <div class="card-body">
                                <h4>Membership</h4>
                            </div>
                        </div>
                    </div>*@


            </div>
        </div>
    </div>

</div>




@section scripts{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //  alert($("#profilescore").val());
            if ($("#profilescore").val() == 1) {
                //$('#progress-bar').val('100');
                //$(this).addclass('border-change');
                //$(this).prevall().addclass('border-change');
                $('.percent').html("100% complete");
            }
            else if ($("#profilescore").val() >= 0.66 && $("#profilescore").val() < 0.99) {
                //$(this).nextall().removeclass('border-change');
                //$('#progress-bar').val('67');
                //$(this).prevall().addclass('border-change');
                //$(this).addclass('border-change');
                $('.percent').html("66% complete");
            }
            else if ($("#profilescore").val() >= 0.33 && $("#profilescore").val() < 0.66) {
                //$(this).nextall().removeclass('border-change');
                //$('#progress-bar').val('34');
                //$(this).prevall().addclass('border-change');
                //$(this).addclass('border-change');
                $('.percent').html("33% complete");
            }
            else {
                //     $('#progress-bar').val('0');
                //$(this).nextall().removeclass('border-change');
                $('.percent').html("0% complete");
            }



            //          $('span').click(function(){
            //          if ($(this).hasClass('first')){
            //              $('#progress-bar').val('0');
            //              $(this).nextAll().removeClass('border-change');
            //              $('.percent').html("0% Complete");
            //          }
            //          else if ($(this).hasClass('second')) {
            //              $(this).nextAll().removeClass('border-change');
            //              $('#progress-bar').val('34');
            //              $(this).prevAll().addClass('border-change');
            //              $(this).addClass('border-change');
            //               $('.percent').html("33% Complete");
            //          }
            //          else if ($(this).hasClass('third')) {
            //              $(this).nextAll().removeClass('border-change');
            //              $('#progress-bar').val('67');
            //              $(this).prevAll().addClass('border-change');
            //              $(this).addClass('border-change');
            //              $('.percent').html("66% Complete");
            //          }
            //          else {
            //              $('#progress-bar').val('100');
            //               $(this).addClass('border-change');
            //              $(this).prevAll().addClass('border-change');
            //               $('.percent').html("100% Complete");
            //             }
            //});
        });
    </script>
}














