﻿a.navbar-brand.logo_h img {
    width: 100%;
}

a.navbar-brand.logo_h {
    max-width: 185px;
}

ul.nav.navbar-nav.menu_nav.ml-auto a.nav-link {
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 500;
}

ul.nav.navbar-nav.menu_nav.ml-auto li.nav-item.active a {
    color: #000;
}

img.card-img {
    height: 220px;
    object-fit: contain;
}

/**-------------------Profile-Completion--------------------*/

.cont {
    height: 100%;
    width: 576px;
    left: calc(50% - 288px);
    padding: 0;
    margin: 0 auto;
    position: absolute;
}

#progress-bar {
    appearance: none;
    width: 576px;
    color: #000;
    height: 2px;
    margin: 0 auto;
}

.span1 {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    border: 3px solid #137CC0;
    background: #137CC0;
    position: absolute;
    left: 0;
    top: 12px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.par {
    font-size: 14pt;
    text-shadow: 1px 1px 0px #000;
    color: #137CC0;
    text-align: center;
}

.heading1 {
    font-size: 24pt;
    color: #137CC0;
    text-align: center;
    margin: 0;
    padding: 0;
}

.heading3 {
    font-size: 16pt;
    text-shadow: 1px 1px 0px #000;
    color: #137CC0;
    text-align: center;
}

.second {
    left: 192px;
}

.third {
    left: 384px;
}

.fourth {
    left: 576px;
}

#progress-bar::-webkit-progress-value { /* Changes line color */
    background: #00f237;
    transition: all 0.4s ease-in-out;
}

#progress-bar::-webkit-progress-bar { /* Changes background color */
    background: #137CC0;
}

.border-change {
    border-color: #00f237;
    transition: all 0.4s ease-in-out;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: #00bcd4;
    color: #FFF;
    border-color: #00bcd4;
}