﻿.ms_content_wrapper.padder_top60 {
    background: #F7f7f7;
}

img.card-img {
    height: 80px;
    object-fit: contain;
    margin-top: 2rem;
}

.card-product:hover {
    background: #000;
    transition: all .4s ease;
}

    .card-product:hover h4 {
        color: #FFF;
    }

h3.msgwelcome span {
    text-transform: capitalize;
    color: #09abbf;
}

h3.msgwelcome {
    color: #888;
}

ul.quicklinks li a {
    overflow: auto;
    display: block;
    width: 100%;
    border-bottom: 1px solid #EEE;
    padding: 1em 0;
}

    ul.quicklinks li a:hover p {
        color: #09abbf;
        transform: scale(1.15);
        transform-origin: left;
    }

    ul.quicklinks li a img {
        margin: 0;
        width: 30px;
        float: left;
        height: auto;
    }

    ul.quicklinks li a p {
        transform: scale(1);
        transform-origin: left;
        font-size: 16px;
        color: #888;
        margin-left: 1em;
        float: left;
        margin-bottom: 0;
        transition: all .2s ease-in-out;
    }

ul.quicklinks li.active a p {
    color: #000;
    font-weight: 500;
}

ul.list-custom {
    list-style: disc;
    color: #000;
    padding-left: 1em;
    margin-top: 1em;
}

    ul.list-custom li {
        margin-bottom: 10px;
        padding: 0;
    }

        ul.list-custom li p {
            margin: 0;
        }
/*-----------------------------*/
.customer-photo {
    display: table;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: 148px 148px;
    background-position: center center;
    vertical-align: middle;
    line-height: 50px;
    box-shadow: inset 0 0 5px #999, inset 0 0 20px rgba(0,0,0,.2);
    margin-left: 50px;
}

.project-tab {
    padding: 10%;
    margin-top: -8%;
}

.file {
    visibility: hidden;
    position: absolute;
}

.project-tab #tabs {
    background: white;
    color: white;
}

    .project-tab #tabs h6.section-title {
        color: white;
    }



.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

    .project-tab .nav-link:hover {
        border: none;
        color: white;
    }

.project-tab thead {
    background: white;
    color: white;
}

.project-tab a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}
/*-----------------------------*/
